<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/31469ed9-ead8-4e1d-bd4c-a3582f1c60b0/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
  <packageSource key="nuget.org">
    <package pattern="*" />
    <package pattern="Microsoft.*" />
    <package pattern="Volo.*" />
  </packageSource>
  <packageSource key="ABP Commercial NuGet Source">
    <package pattern="Volo.*" />
  </packageSource>
</packageSourceMapping>
</configuration>